.red {
    color:red;
}
.counter {
    margin: auto auto;
    width: 400px;
    border: 2px solid chartreuse;
    background-color: gray;
    padding: 2em;
    border-radius: 10px;
}
.scoreboard{
    background-color: burlywood;
    font-size: 100px;
    border: 2px solid chartreuse;
    border-radius: 10px;
}

.buttonStyle {
    width: 120px;
    height: 40px;
    background-color: bisque;
    border: 2px solid blueviolet;;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.4s;
}
.buttonStyle:disabled{
    opacity: 0.2;
}
.buttonStyle:hover{
    color: gray;
    background-color: chartreuse;
}


.buttonGropeStyle {
    padding: 20px;
    border: 2px solid chartreuse;
    margin: 20px;
    border-radius: 10px;
}