.red {
    color: red;
}

.counter {
    display: grid;
    margin-top: 200px ;
    width: 500px;
    border: 2px solid #282828;
    background-color: #969696;
    padding: 2em;
    border-radius: 10px;
    grid-gap: 10px;

}

.scoreboard {
    justify-items: stretch;
    background-color: #00897b;
    font-size: 100px;
    border: 2px solid #282828;
    border-radius: 10px;
    text-align: center;
    color: #363636;
}

.buttonStyle {
    justify-self: stretch;

    background-color: #00897b;
    border: 2px solid #282828;;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.4s;
    color: #363636;
}

.buttonStyle:disabled {
    opacity: 0.2;
}

.buttonStyle:hover {
    color: #363636;
    background-color: #00564d;
}


.buttonGropeStyle {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #49416D;
    border-radius: 10px;
}